<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/livro-servidor/public/stylesheets/style.css'/>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bem vindo<%= title %></p>
  </body>
</html>
